@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

:root {
  --background: #000212;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}